body {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
}

.leftPart {
  flex: 1.1;
  background-color: rgb(45, 44, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(243, 231, 231);
}

.rightPart {
  padding-left: 30px;
  padding-right: 30px;
  flex: 0.9;
}

.optionsToAdd {
  width: 700px;
  min-height: 500px;
  height: auto;
}

input {
  width: 320px;
  height: 30px;
  border-radius: 6px;
  padding-left: 7px;
  color: black;
}

.headings {
  font-size: 28px;
  margin-bottom: 15px;
  padding-left: 3px;
}

.inputElements {
  margin-bottom: 25px;
}

button {
  width: 320px;
  height: 30px;
  border-radius: 6px;
  font-size: medium;
}

.nameOfThePerson {
  font-size: 25px;
  text-align: center;
  color: red;
}

.emailAndPhoneNumberOfThePerson {
  display: flex;
  justify-content: center;
}

.emailOfThePerson {
  border-right: 1px solid red;
  padding-right: 10px;
}

.phoneNumnerOfThePerson {
  padding-left: 10px;
}

.headingOnResume {
  font-size: 20px;
  color: red;
  margin-right: 5px;
  margin-top: 5px;

}

.lineBesideHeading {
  height: 1.5px;
  background-color: red;
  margin-bottom: 5px;
}

.lineHolder {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.headingBarOnResume {
  display: flex;
}

.educationBar {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.uniNameOnResume {
  font-size: 12px;
}

.locationOnResume {
  font-size: 13px;
}

textarea {
  border-radius: 10px;
}

.skillsBar {
  padding-left: 20px;
  display: flex;
  margin-bottom: 6px;
}

.allProgrammingLanguages {
  display: flex;
  flex: 2;
}

.language {
  padding-right: 10px;
  margin-left: 10px;
  border-right: 1px solid red;
}

.allTechnologiesOnResueme {
  display: flex;
  flex: 2;
}

.technology {
  padding-right: 10px;
  margin-left: 10px;
  border-right: 1px solid red;
}

.experienceBar {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.roleOnResume {
  font-size: 12px;
}

.contributionOnResume {
  padding-left: 40px;
  margin-bottom: 15px;
}

/* .durationOfProject {

}

.projectNameOnResume {

} */

.projectBar {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.dataAboutPublication {
  font-size: 12px;
}

.contributionOnResumePublication {
  padding-left: 40px;
  margin-top: 15px;
}
